@media screen and (min-width: 1200px) {
  .container {
    max-width: 1156px;
  }
  .info {
      padding-top: 120px;
      padding-bottom: 120px;
  }



/* }
@media screen and (max-width: 1199px){
    .info-block-icon {
        
    }
} */
