@media screen and (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }
  .header {
    padding: 24px 0;
  }
  .header-contacts {
    flex-direction: row;
    gap: 40px;
  }
  .header-nav-wrap {
    display: flex;
    align-items: center;
    width: 1128px;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-nav {
    /* display: flex;
    align-items: center; */
  }
  .header-tel {
    font-size: 16px;
  }
  .header-mail {
    font-size: 16px;
  }
  .address {
    margin-left: auto;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
  }
  .info {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .info-list {
    flex-direction: row;
    gap: 24px;
    min-width: 1128px;
  }
  .info-item {
    width: 264px;
    width: calc((100% - 72) / 4);
  }
  .info-block {
    background: #f4f4fd;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
  }
  .info-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    display: block;
  }
  .info-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .examples {
    padding: 120px 0;
    display: block;
  }
  .castomers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .castomers-item {
    /* width: 168px; */
    width: calc((100% - 120px) / 6);
  }
  .castomers-list {
    width: 1128px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: auto;
    height: auto;
  }
  /* .footer-container-2 { 
  }
  .footer-container-3 {
    margin-left: 120px;
  }
  .footer-container-4 {
    margin-left: 80px;
  }
  .footer-form-wraper {
    flex-direction: row;
  }
  .footer-logo {
    display: block;
  }
  .footer-title {
    display: block;
  }
  .footer-form-text {
    display: block;
  }
  .footer-form-wraper {
    flex-direction: row;
    gap: 24px;
  }
  .footer-form-input {
    width: 232px;
  }
  .footer-form-sumbit {
    margin: 0;
  } */
}
/* @media screen and (max-width: 1199px){
    .info-block-icon {
        
    }
} */
