@media screen and (min-width: 480px) {
  .container {
    max-width: 398px;
  }
  .castomers-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .castomers-item {
    width: calc((100% - 16px) / 2);
  }
}
