@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
  .header-button-svg {
    display: none;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
    width: 496px;
    height: 120px;
  }
  .info-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding: 0;
  }
  .info-item {
    width: 356px;
  }
  .info-subtitle {
    display: block;
    font-weight: 700;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-item {
    width: calc((100% - 24) / 2);
  }
  .castomers-list {
    width: 584px;
    margin: auto;
    display: flex;
  }
  .castomers-item {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 48px) / 3);
    flex-basis: 168px;
  }
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    gap: 72px 24px;
    /* gap: 0; */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 496px;
    height: 262px;
  }
  .footer-container-2 {
    /* margin-left: 120px; */
  }
  .footer-container-3 {
    /* margin-left: 120px; */
  }
  .footer-container-4 {
  }
  .footer-form-wraper {
    flex-direction: row;
  }
  .footer-logo {
    display: block;
  }
  .footer-title {
    display: block;
  }
  .footer-form-text {
    display: block;
  }
  .footer-form-wraper {
    flex-direction: row;
    gap: 24px;
  }
  .footer-form-input {
    width: 232px;
  }
  .footer-form-sumbit {
    margin: 0;
  }
}

@media screen and (min-width: 768px), (max-width: 1199px) {
  .container-sm {
    max-width: 736px;
    padding-right: 0;
    padding-left: 0;
  }
}
